@{
    ViewData["Title"] = "Home Page";
}

@section scripts {
    <script src="~/lib/signalr/signalr.min.js"></script>
    <script>
        var connection = new signalR.HubConnectionBuilder()
            .withUrl("/eventhub")
            .build();

        let displayAlerts = [];

        connection.on("ReceiveEvent", function (alertData) {
            // Check if the alert has already been displayed
            if (displayAlerts.some(alert => alert.borrowerId === alertData.borrowerId)){
                return;
            }

            // Add the alert to the list of displayed alerts
            displayAlerts.push(alertData);            

            // Display the received event data in the event container
            var alertComponent = document.createElement("div");
            alertComponent.classList.add("alert", "alert-warning", "alert-dismissible", "fade", "show");
            alertComponent.innerHTML = `
                        <strong>Alert:</strong> Message: ${alertData.message}, Timestamp: ${alertData.date}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            `;
            document.getElementById("event-container").appendChild(alertComponent);
        });

        connection.start();
    </script>
}

<div class="row">
    <div class="col-md-8">
        <a asp-area="" asp-controller="Home" class="btn btn-outline-success" asp-action="Create">Create New</a>
        <table class="table table-responsive bg-light">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>SSN</td>
                    <td>DateOfBirth</td>
                    <td>MailingAddress</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in ViewBag.Borrowers)
                {
                    <tr>
                        <td>@item.Name</td>
                        <td>@item.SSN</td>
                        <td>@item.DateOfBirth</td>
                        <td>@item.MailingAddress</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="col-md-4">
        <div id="event-container"></div>
    </div>
</div>

